// HEADER STYLE
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 75px;
  box-shadow: 0px 2px 3px $grey;
  background-color: $white;
  overflow: hidden;

  &__wrapper {
    padding: 20px;
    display: flex;
    align-items: center;

    img {
      width: 50px;
    }
  }

  &__title {
    font-size: $extrasmall;
    font-family: $avertaSemiBold;
    color: $blue;
    padding-left: 10px;
    position: relative;
    top: 4px;
  }
}
