// HEADER STYLE
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 75px;
  border-bottom: 1px solid $grey;
  background-color: $white;
  overflow: hidden;

  &__menu {
    font-size: 40px;
    position: relative;
    top: 6px;
    margin-right: 20px;
    color: #353535;
    cursor: pointer;
    display: none;

    @media all and (max-width: 768px) {
      display: block;
    }
  }

  &__wrapper {
    padding: 20px;
    display: flex;
    align-items: center;

    img {
      width: 80px;
    }

    .npmversion {
      margin-left: 20px;
      position: relative;
      top: 10px;
    }
  }

  &__title {
    font-size: $extrasmall;
    font-family: $avertaSemiBold;
    color: $blue;
    padding-left: 10px;
    position: relative;
    top: 4px;
  }
}
