.sidenav {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: $white;
  z-index: 9;
  border-right: 1px solid $defaultborder;
  padding: 20px;
  top: 75px;
  overflow-y: auto;
  @include scrollbar(10px, $defaultborder, $light_grey, $defaultborder);
  padding-bottom: 85px;
  &__nav-group {
    margin: 20px 0;
  }

  &__title {
    font-size: $thin;
    font-family: $avertaSemiBold;
    cursor: pointer;
    color: $black;
  }

  &__navitems {
    padding-left: 10px;
    list-style: none;
    margin-top: 5px;
  }

  &__navitem {
    font-size: $extrathin;
    font-family: $avertaLight;
    font-weight: bold;
    padding: 2px 0px;
    color: $black;
  }

  &__navlink {
    text-decoration: none;
    color: $light_black;
    display: block;
    border-radius: 4px;
    padding: 8px 10px;
    transition: background .2s, color .2s;

    &:hover {
      background: $highlight_blue;
    }

    &--active {
      color: $blue;
      background: $highlight_blue;
    }
  }
}
